body{
    background-image: url(../resimler/photo-of-clouds-during-daytime-2088205.jpg);
    text-align: center;
    justify-content: center;
    font-size: 100px;
    font-weight: bolder;
    background-size: auto;
    -webkit-background-size: cover;
     -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    
}


