@media all and (max-width: 7000px){
    
    .navbar ul{
        font-size: 1.5rem;
        margin-right: 4rem;
    }
    
    .navbar ul li{
        text-align: center;
        margin-left: 4.3rem;
    }

    .navbar ul li a{
        color: white;
    }

    .navbar ul li a:hover{
        color: black;
    }

    html{
        font-size: 15px;
    }
    
    body{
        border:0.1rem;
        margin: 0 auto;
        width:100%;
        overflow-x:hidden; 
        overflow-y:scroll;
        background: url("/resimler/landscape-photography-of-mountains-covered-in-snow-691668.jpg");
    }

    main{
        border-radius:5px;
        display: block;
        margin-left: 5%;
        margin-right: 5%;
    } 
    
    img{
        display: block;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;;
        border-radius: 1rem;
    }
    
    h3{
        text-align: center;
    }
    
    .form-group{
        margin-top: 2rem;
    }
    
    .form-group input:focus{
        outline: 0;
    }
    
    input[type=submit]{
      margin-left: 18rem;
      padding:8px 20px;
      border: 1px solid orange;
      border-left: 3px solid;
      border-left-color:salmon; 
      border-radius: 5px;
      margin-top: 3rem;
      font-size: 1.5rem;
    }

    input[type=reset]{
       padding:8px 20px;
      border: 1px solid orange;
      border-left: 3px solid;
      border-left-color:salmon; 
      border-radius: 5px;
      margin-top: 3rem;
      font-size: 1.5rem;
    }
}

@media all and (max-width: 1366px){
    
    html{
        font-size: 12px;
    }
    
    input[type=submit]{
        margin-left: 10rem;
        font-size: 1.2rem;
    }
    
    input[type=reset]{ 
        font-size:1.2rem;
    }
}

@media all and (max-width: 700px){
    
    html{
        font-size: 10px;
    }
    
    input[type=submit]{
        margin-left: 7rem;
        font-size: 1rem;
    }
    
    input[type=reset]{ 
        font-size:1rem;
    }
}
























