@media all and (max-width: 7000px){
    .menu{
        list-style: none;
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        background-color: orange;
    }
    
    .menu a{
        text-decoration:none;
        display: block;
        padding: 1.6rem;
        color: #fff;
        text-align: center;
        border-top: 0.1rem solid rgba(255,255,255,0.3);
        border-bottom: 0.1rem; 
        font-size: 1.5rem;
        
    }
    
    .menu a:hover{
        background-color:(233,184,61);
        display: block;
        padding: 1.6rem;
        background: black;
        text-decoration: none;
        color: orange;
    }
    
    .menu li:last-child a{
        border-bottom: none;
    }
    
    html{
        font-size: 15px;
    }
    
    body{
        background-color: white;
        border:0.1rem;
        margin: 0 auto;
        width:100%;
        background:white;
        overflow-x:hidden; 
        overflow-y:scroll;
    }

    main{
        border-radius:5px;
        background-color: white;
        display: block;
        margin-left: 20%;
        margin-right: 20%;
        background-color: white; 
    }
    h1{
        font-size: 2.2rem;
    }
    
    h2{
        text-align: center;
    }
    
    h3{
        text-align: center;
        font-size: 2rem;
    }
    
    h4{
        text-align: left;
        font-size: 1.8rem;
    }
    
    p{
        font-size: 1.6rem;
    }

   
    img{
        border-radius:5px;
        border: 2px solid #CCCCCC;
        background-color: #FFFFFF;
        padding: 3px;
        width: 45%;
    }
    
    
    #cizgi{
        background: black;
        height: 3px;
    }
    
    #information{
        width: 150%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }
    
    iframe{
       display: block;
       margin-left: 5%;
       margin-right: 5%;
       width: 89%;
       margin-bottom: 10%;
    }
    

}

@media all and (max-width: 1366px){
    
    html{
        font-size: 12px;
    }
    
    .menu{
        justify-content: center;     
    }
    
    img{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    iframe{
        height: 300px;
    }
    
    #information{
        width: 125%;
        text-decoration: none;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 0.8rem;
        margin-bottom: 1.3rem;
    }
}

@media all and (max-width: 700px){
    
    html{
        font-size: 10px;
    }
    
    .menu{
        justify-content: space-around;
        flex-direction: column;
    }
    
    .menu a{
        padding: 0.8rem; 
    }
    
    .menu a:hover{
        background-color: :(233,184,61);
        padding: 0.8rem;
    }
    
    img{
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        width: 90%;
    }
    
    iframe{
        display: inline-block;
        height: 60%;
    }
    
        #information{
        width: 100%;
        margin-left: 0;
        margin-right: 15%;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}






