@media all and (max-width: 7000px){
     
    .navbar ul{
        font-size: 1.5rem;
        margin-right: 4rem;
    }
    
    .navbar ul li{
        text-align: center;
        margin-left: 4.3rem;
    }

    .navbar ul li a{
        color: white;
    }

    .navbar ul li a:hover
    {
        color: black;
    }
    
    html{
        font-size: 15px;
    }
    
    body{
        background-color: white;
        border:0.1rem;
        margin: 0 auto;
        width:100%;
        background:white;
        overflow-x:hidden; 
        overflow-y:scroll;
    }

    main{
        border-radius:5px;
        background-color: white;
        display: block;
        margin-left: 20%;
        margin-right: 20%;
        background-color: white; 
    }
    
    h3{
        text-align: center;
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    
    h4{
        text-align: left;
        font-size: 1.8rem;
    }
    
    p{
        font-size: 1.6rem;
    }
    
    img{
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        border-radius: 1rem;
        padding: 2rem;
    }
    
       iframe{
       display: inline-block;
       margin-left: 5%;
       margin-right: 5%;
       width: 89%;
           height: 500px;
       margin-bottom: 10%;
    }
}

@media all and (max-width: 1366px){
    
    html{
        font-size: 12px;
    }
    .menu{
        justify-content: center;     
    }
    iframe{
        height: 300px;
    }
}

@media all and (max-width: 700px){
    
    html{
        font-size: 10px;
    }
    
    .menu{
        justify-content: space-around;
        flex-direction: column;
    }
    
    .menu a{
        padding: 0.8rem; 
    }
    
    .menu a:hover{
        background-color: :(233,184,61);
        padding: 0.8rem;
    }
    
    iframe{
        display: inline-block;
        height: 60%;
    }
}














